<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автомобили</title>
</head>
<body>
<div>
    <table th:border="1" th:align="center" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Модель</th>
                <th>Серия</th>
            </tr>
        </thead>
        <tbody th:each="car : ${carList}">
            <tr>
                <td th:text="${car.getId()}"></td>
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getSeries()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>